<div class="app-container d-flex flex-column">
  <header class="navbar navbar-expand navbar-dark px-4 flex-column flex-md-row">

    <a class="navbar-brand mr-md-2 mr-0"
       routerLink="/">
      <h2>IA</h2>
    </a>

    <div class="navbar-nav-scroll">
      <ul class="navbar-nav flex-row">
        <li class="nav-item"
            [routerLinkActive]="['active']">
          <a class="nav-link"
             [routerLink]="['/', RouteSegments.home]">Home</a>
        </li>
        <li class="nav-item"
            [routerLinkActive]="['active']">
          <a class="nav-link"
             [routerLink]="['/', RouteSegments.address]">Address</a>
        </li>
      </ul>
    </div>

    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex align-items-center">

    </ul>

  </header>

  <div class="flex-grow-1">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer bg-light">
    <div class="container-fluid px-3 py-1 px-md-5 py-md-1">
      <p>Course tailored by
        <a href="https://github.com/IAfanasov"
           rel="noopener"
           target="_blank">Igor Afanasov</a>
    </div>
  </footer>
</div>
